
<%- include('partials/header') %>

<div class="container">

    <%if(locals.msg){%>
        <li class="text-danger"><%=locals.msg%></li>
    <%}%>
    
    <form action="reset" method="POST" class="ml-5">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" class="form-control w-50">
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

</div>


</body>
</html>